<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.hutquan.hut.mapper.ISearchByFaceMapper" >

    <select id="selectGroupId" resultType="Integer">
        SELECT group_id FROM face_group
    </select>

    <select id="selectUserById" resultType="com.hutquan.hut.pojo.UserSearchFace">
        SELECT user_id,username,avatar_picture,signature,sex FROM `user`
        WHERE user_id IN
        <foreach collection="list" item="uId" open="(" separator="," close=")">
            #{uId}
        </foreach>
    </select>

</mapper>