<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.hutquan.hut.mapper.IUserMapper" >

    <!--resultMap对应的是表与实体类的映射  - type 数据库表对应的实体类，别名或完整类名都可以-->
<!--    <resultMap id="BaseResultMap" type="com.test.dailyreport.bean.UserBean" >-->
<!--        &lt;!&ndash; 结果集的主键 &ndash;&gt;-->
<!--        <id column="id" property="id" jdbcType="INTEGER" />-->
<!--        &lt;!&ndash; 普通的列  -column 是数据库中字段， property是实体类中字段&ndash;&gt;-->
<!--        <result column="token" property="token" jdbcType="VARCHAR" />-->
<!--        <result column="account" property="account" jdbcType="VARCHAR" />-->
<!--        <result column="password" property="password" jdbcType="VARCHAR" />-->
<!--        <result column="department" property="department" jdbcType="VARCHAR" />-->
<!--        <result column="user_name" property="name" jdbcType="VARCHAR" />-->
<!--    </resultMap>-->


    <!--parameterType(输入类型)、resultType(输出类型)-->
    <select id="selectUser" parameterType="int" resultType="com.hutquan.hut.pojo.User">
        SELECT user_id,username,avatar_picture,signature,`time`,sex FROM `user` WHERE  `user_id` = #{userId}
    </select>

    <select id="teleSelectUser" resultType="Integer">
        SELECT user_id FROM `user` WHERE `tele` = #{tele}
    </select>

    <insert id="insertUser" parameterType="com.hutquan.hut.pojo.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO `user`(username,passwd,tele,`time`,avatar_picture) VALUES (#{username},#{passwd},#{tele},#{time},#{avatarPicture})
    </insert>

    <select id="selectTele" parameterType="String" resultType="Integer">
        SELECT user_id FROM `user` WHERE `tele` = #{tele} or `account` = #{account}
    </select>

    <select id="login" parameterType="com.hutquan.hut.pojo.User" resultType="com.hutquan.hut.pojo.User">
        SELECT user_id,username,tele,signature,sex,avatar_picture FROM `user`
        WHERE passwd = #{passwd} AND account = #{account}
    </select>

<!--  测试用  -->
    <select id="logina" parameterType="string" resultType="com.hutquan.hut.pojo.User">
         SELECT * FROM `user`
        WHERE account = #{account}
    </select>

    <select id="teleLogin" resultType="com.hutquan.hut.pojo.User" >
         SELECT user_id,username,tele,signature,sex,`time`,avatar_picture FROM `user`
         WHERE  tele = #{tele}
    </select>

    <select id="selectXh" resultType="com.hutquan.hut.pojo.User" >
         SELECT user_id,username,tele,signature,sex,`time`,avatar_picture FROM `user`
         WHERE  xh = #{xh}
    </select>

    <select id="selectXhAndPass" resultType="com.hutquan.hut.pojo.User" >
         SELECT user_id,username,tele,signature,sex,`time`,avatar_picture FROM `user`
         WHERE  xh = #{xh} AND passwd = #{passwd}
    </select>

    <insert id="insertXhUser" parameterType="com.hutquan.hut.pojo.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO `user`(username,passwd,`time`,avatar_picture,xh) VALUES (#{username},#{passwd},#{time},#{avatarPicture},#{xh})
    </insert>

    <insert id="insertTele">
        INSERT INTO `tele_tem`(tele,`time`,yzm) VALUES (#{tele},#{time},#{yzm})
        on duplicate key update yzm = #{yzm}, `time` = #{time}
    </insert>

    <update id="updataUser" parameterType="com.hutquan.hut.pojo.User">
        UPDATE `user`
        <trim prefix="set" suffixOverrides=",">
        <if test="username != null">
            username = #{username},
        </if>
        <if test="signature != null">
            signature = #{signature},
        </if>
        <if test="sex != null">
            sex = #{sex},
        </if>
        </trim>
        WHERE user_id = #{userId}
    </update>

    <update id="upHeadUrl" parameterType="com.hutquan.hut.pojo.User">
        UPDATE `user` SET avatar_picture = #{headUrl}
        WHERE user_id = #{userId}
    </update>

    <select id="queryFollower" resultType="com.hutquan.hut.pojo.Follower">
        SELECT user_id,username,avatar_picture,signature,sex FROM `user`
        WHERE user_id
        in
        <foreach collection ="collection" item = "idList" open = "(" close=")" separator=",">
            #{idList}
        </foreach>
    </select>

    <select id="queryFollowered" resultType="com.hutquan.hut.pojo.Follower">
        SELECT user_id,username,avatar_picture,signature,sex FROM `user`
        WHERE user_id
        in
        <foreach collection ="collection" item = "idList" open = "(" close=")" separator=",">
            #{idList}
        </foreach>
    </select>

</mapper>